<div>
  <h1><%= @party.name %></h1>
</div>
<div>
  <%= link_to "All Parties", parties_path %><br>
</div>
<div>
  <%= link_to "Edit Party", edit_party_path(@party) %><br>
  <%= button_to "Delete Party", party_path(@party), method: :delete, data: { confirm: "Are you sure?" } %><br>
</div>