<div class="simple-container">
  <nav></nav>
  <div class="full-window">
    <h1>Welcome to PartyLine.</h1>
    <h3>A lightweight group messaging platform</h3>
    <h4>To get started, Sign Up or Log In below.</h4>
    <%= link_to "Sign Up", signup_path %><br>
    <%= link_to "Log In", login_path %><br>
    <%= link_to "Log In with Google", '/auth/google_oauth2' %>
  </div>
  <footer></footer>
</div>