<div class="card" style="width: 18rem;">
  <img src="/assets/images/cover.jpeg" class="card-img-top" alt="Four friends sitting in a circle">
  <div class="card-body">
    <h5 class="card-title">PartyLine</h5>
    <p class="card-text">Welcome to PartyLine, the lightweight group messaging platform.</p>
    <a href="users/new" class="btn btn-primary">Sign Up</a>
  </div>
</div>