/* ...
 *= require_self
 *= require_tree .
 */

//  ROOT


body {
  font-family: 'Roboto Mono', monospace;
}

:root {
  --main-radius: 5px;
  --main-padding: 5px;
}

// BUTTONS

.greenButton {
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
	background-color:#b8e356;
	border-radius:6px;
	border:1px solid #83c41a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #86ae47;
}
.greenButton:hover {
	background:linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
	background-color:#a5cc52;
}
.greenButton:active {
	position:relative;
	top:1px;
}

.orangeButton {
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	background-color:#ffc477;
	border-radius:6px;
	border:1px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
}
.orangeButton:hover {
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	background-color:#fb9e25;
}
.orangeButton:active {
	position:relative;
	top:1px;
}

.blueButton {
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.blueButton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.blueButton:active {
	position:relative;
	top:1px;
}

.redButton {
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#fc8d83;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.redButton:hover {
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	background-color:#e4685d;
}
.redButton:active {
	position:relative;
	top:1px;
}

// FORMS

input[type=text], input[type=email], input[type=password] {
  background-color: #9ECFF7;
  color: white;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: larger;
  text-align: center;
  border-radius: var(--main-radius)
}

textarea {
  resize: none;
  background-color: #9ECFF7;
  color: white;
  width: 50%;
  height: 150px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: larger;
  text-align: center;
  border-radius: var(--main-radius)
}

// STATUS

.status-bubble {
	position: relative;
	background: hsl(185, 100%, 37%);
	border-radius: .4em;
  width: fit-content;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
}

.status-bubble:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #00aabb;
	border-top: 0;
	border-left: 0;
	margin-left: -10px;
	margin-top: -20px;
}

// DISPLAY

.banner {
  grid-area: banner;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

nav {
  grid-area: nav;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
footer {
  grid-area: footer;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

// SIMPLE CONTAINER

.simple-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 10px 50px 1fr 50px;
  grid-template-areas:
    "banner"
    "nav"
    "full-window"
    "footer";
  grid-gap: .3rem;
}
.full-window {
  text-align: center;
  grid-area: full-window;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

// TWO-SPLIT CONTAINER

.two-split-container {
  display:grid;
  height:100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 10px 50px 1fr 1fr 50px;
  grid-template-areas:
    "banner"
    "nav"
    "top-window"
    "bottom-window"
    "footer";
  grid-gap: .3rem;
}
.top-window {
  grid-area: top-window;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
.bottom-window {
  grid-area: bottom-window;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

// THREE-SPLIT CONTAINER

.three-split-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10px 50px 1fr 1fr 50px;
  grid-template-areas:
    "banner banner banner"
    "nav nav nav"
    "sidebar tr-window tr-window"
    "sidebar br-window br-window"
    "footer footer footer";
  grid-gap: .3rem;
}
.sidebar {
  grid-area: sidebar;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
.top-right-window {
  grid-area: tr-window;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
.bottom-right-window {
  grid-area: br-window;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

// WINDOWS

.mainWindow {
  background-color: rgba(255, 255, 255, 0.5);
  width: 50%;
  margin: 20px auto 20px auto;
  padding: 20px 60px;
  border-radius: 1rem;
  text-align: center;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.errorWindow {
  background-color: rgba(247, 65, 65, 0.5);
  margin-left: auto;
  margin-right: auto;
  padding: 10px 30px;
  border-radius: 1rem;
  text-align: center;
}