/* ...
 *= require_self
 *= require_tree .
 */

//  ROOT

body {
  text-align: center;
}

:root {
  --main-radius:5px;
  --main-padding:5px;
}
nav {
  background: #ABC4FF;
  grid-area: nav;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
footer {
  background: #B6CCFE;
  grid-area: footer;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

// SIMPLE CONTAINER

.simple-container {
  display:grid;
  height:100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "nav"
    "full-window"
    "footer";
  grid-gap: .2rem;
}
.full-window {
  background: #E2EAFC;
  grid-area: full-window;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

// TWO-SPLIT CONTAINER

.two-split-container {
  display:grid;
  height:100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 1fr 50px;
  grid-template-areas:
    "nav"
    "top-window"
    "bottom-window"
    "footer";
  grid-gap: .2rem;
}
.top-window {
  background: #E2EAFC;
  grid-area: top-window;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
.bottom-window {
  background: #D7E3FC;
  grid-area: bottom-window;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

// THREE-SPLIT CONTAINER

.three-split-container {
  display:grid;
  height:100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr 1fr 50px;
  grid-template-areas:
    "nav nav nav"
    "sidebar tr-window tr-window"
    "sidebar br-window br-window"
    "footer footer footer";
  grid-gap: .2rem;
}
.sidebar {
  background: #CCDBFD;
  grid-area: sidebar;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
.top-right-window {
  background: #E2EAFC;
  grid-area: tr-window;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
.bottom-right-window {
  background: #D7E3FC;
  grid-area: br-window;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}