/* ...
 *= require_self
 *= require_tree .
 */

:root {
  --main-radius: 1rem;
  --main-padding: 20px 60px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body {
  font-family: 'Roboto Mono', monospace;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.simpleWindow {
  background-color: rgba(255, 255, 255, 0.5);
  width: 50%;
  margin: 20px auto;
  border-radius: 1rem;
  text-align: center;
  padding: 20px 60px;
}

.errorWindow {
  background-color: rgba(247, 65, 65, 0.5);
  width: fit-content;
  margin: 20px auto;
  border-radius: 1rem;
  text-align: center;
  padding: 20px 60px;
}

// BUTTONS

.flex-container {
  display: flex;
  justify-content: center;
}

.button {
  margin-right: 10px;
  border-radius:6px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 30px;
	text-decoration:none;
  height: fit-content;
}

.green {
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
	background-color:#b8e356;
	border:1px solid #83c41a;
	text-shadow:0px 1px 0px #86ae47;
}
.green:hover {
	background:linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
	background-color:#a5cc52;
}
.green:active {
	position:relative;
	top:1px;
}

.orange {
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	background-color:#ffc477;
	border:1px solid #eeb44f;
	text-shadow:0px 1px 0px #cc9f52;
}
.orange:hover {
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	background-color:#fb9e25;
}
.orange:active {
	position:relative;
	top:1px;
}

.blue {
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border:1px solid #84bbf3;
	text-shadow:0px 1px 0px #528ecc;
}
.blue:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.blue:active {
	position:relative;
	top:1px;
}

.red {
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#fc8d83;
	border:1px solid #d83526;
	text-shadow:0px 1px 0px #b23e35;
}
.red:hover {
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	background-color:#e4685d;
}
.red:active {
	position:relative;
	top:1px;
}

// FORMS

input[type=text], input[type=email], input[type=password] {
  background-color: #9ECFF7;
  color: white;
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: larger;
  text-align: center;
  border-radius: var(--main-radius)
}

textarea {
  resize: none;
  background-color: #9ECFF7;
  color: white;
  width: 70%;
  height: 150px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: larger;
  text-align: center;
  border-radius: var(--main-radius)
}

