textarea {
  resize: none;
  background-color: #9ECFF7;
  color: white;
  width: 70%;
  height: 150px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: larger;
  text-align: center;
  border-radius: var(--main-radius)
}