<nav>
  <div class="flex-container">
    <% if logged_in? %>
      <%= button_to "Logout", logout_path, method: :delete, data: { confirm: "Are you sure?" }, class:"orange button" %>
      <%= link_to "Statuses", user_statuses_path(@user), class:"green button" %>
    <% elsif current_page?(login_path) %>
      <%= link_to "Home", root_url, class:"orange button" %>
    <% else %>
      <%= link_to "Login", login_path, class:"orange button" %>
    <% end %>
  </div>
</nav>